@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0%;
  margin: 0%;
}

body {
    font-family: "Poppins", sans-serif;
  font-style: normal;
  background-image: url(/Image/background.png);
  width: 100%;
  

}
.logo {
  height: 110px;
}
nav {
  margin-left: 200px;
}

ul {
  list-style-type: none;
  color: #485766;
  font-weight: 500;
  font-size: 17px;
  display: flex;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 65px 80px;
}
li {
  margin: 0 10px;
}
li:hover {
  color: blue;
}
.btn {
  width: 30px;
  background-color: transparent;
  margin-right: 5px;
  border-right: 2px solid #485766;
  height: 20px;

}
button, .search-bar input {
  border: none;
  font-size: 18px;
}
.search-bar {
  position: relative;
  border: 2px solid #485766;
  width: 25%;
  height: 10px;
  border-radius: 10px;
  padding: 20px;
  padding-top: 5px;
  margin-left: 100px;

}
.grid {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: start;
    height: 100%;
}
.search-bar input:focus {
  outline: none;
}
.container {
display: flex;
}
.icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 45px;
  bottom: 20px;

}
i {
  margin-bottom: 20px;
  color: #485766;
}
.img {
  position: absolute;
  top: 10px;
  right: 50px;
  height: 100%;
}
.text {
  position: absolute;
  top: 280px;
  left: 110px;
}
h3 {
  font-size: 30px;
  font-weight: 400;
  color: #2b3350;
}